* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	color: #fff;
	background-color: blue;
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer{
	border-top: 1px solid red;
	background-color: yellow;
}

.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/