@-ms-viewport {
	width: device-width;
}

html, body {
	width: 100%;
	height: 100%;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*****************************
		CSS Reset 
*****************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';	content: none;}
table {border-collapse: collapse;border-spacing: 0;}input.text,input[type="text"],input[type="button"],input[type="submit"],.input-checkbox {-webkit-appearance: none;border-radius: 0;}
/*****************************
		END CSS Reset 
*****************************/


/*****************************
		Twelve Grid
*****************************/
img {
	max-width: 100%;
	height: auto;
}

.container {
	margin: 0;
}

.container .col {
	float: left;
}

.container .col.xs-0 {	width: 0px;  height: 0px;}
.container .col.xs-1 {	width: 8.33333333%;  height: 100%; }
.container .col.xs-2 {	width: 16.6666667%;  height: 100%; }
.container .col.xs-3 {	width: 25%;  height: 100%;  }
.container .col.xs-4 {	width: 33.3333333%;  height: 100%;  }
.container .col.xs-5 {	width: 41.6666666%;   height: 100%; }
.container .col.xs-6 {	width: 50%;  height: 100%; }
.container .col.xs-7 {	width: 58.3333333%; height: 100%; }
.container .col.xs-8 {	width: 66.6666666%;  height: 100%; }
.container .col.xs-9 {	width: 75%;  height: 100%;  }
.container .col.xs-10 {	width: 83.3333333%;  height: 100%;  }
.container .col.xs-11 {	width: 91.6666666%;  height: 100%; }
.container .col.xs-12 {	width: 100%;  height: 100%;  }

.row {	float: left; clear: both; width: 100%;	}

.container:after; {
	content: '';
	display:block;
	overflow:hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear:both;
}

.container {
	zoom: 1;
}

/*****************************
		END Twelve Grid 
*****************************/


/*****************************
		Media Querys
*****************************/

@media only screen and (min-width: 768px) and (max-width: 992px) {
	
	.container .col.sm-0 {	width: 0px; height: 0px;   }
	.container .col.sm-1 {	width: 8.33333333%; height: 100%;   }
	.container .col.sm-2 {	width: 16.6666667%;  height: 100%;  }
	.container .col.sm-3 {	width: 25%;  height: 100%;  }
	.container .col.sm-4 {	width: 33.3333333%;  height: 100%;  }
	.container .col.sm-5 {	width: 41.6666666%;  height: 100%;  }
	.container .col.sm-6 {	width: 50%;  height: 100%;  }
	.container .col.sm-7 {	width: 58.3333333%;  height: 100%;  }
	.container .col.sm-8 {	width: 66.6666666%;  height: 100%;  }
	.container .col.sm-9 {	width: 75%;  height: 100%;  }
	.container .col.sm-10 {	width: 83.3333333%;  height: 100%;  }
	.container .col.sm-11 {	width: 91.6666666%;  height: 100%;  }
	.container .col.sm-12 {	width: 100%;  height: 100%;  }

}

@media only screen and (min-width: 993px) and (max-width:1200px) {

	.container .col.md-0 {	width: 0px;  height: 0px;  }
	.container .col.md-1 {	width: 8.33333333%;  height: 100%;  }
	.container .col.md-2 {	width: 16.6666667%;  height: 100%;  }
	.container .col.md-3 {	width: 25%;  height: 100%;  }
	.container .col.md-4 {	width: 33.3333333%;  height: 100%;  }
	.container .col.md-5 {	width: 41.6666666%;  height: 100%;  }
	.container .col.md-6 {	width: 50%;  height: 100%;  }
	.container .col.md-7 {	width: 58.3333333%;  height: 100%;  }
	.container .col.md-8 {	width: 66.6666666%;  height: 100%;  }
	.container .col.md-9 {	width: 75%;  height: 100%;  }
	.container .col.md-10 {	width: 83.3333333%;  height: 100%;  }
	.container .col.md-11 {	width: 91.6666666%;  height: 100%;  }
	.container .col.md-12 {	width: 100%;  height: 100%;  }

}

@media only screen and (min-width: 1200px) {

	.container .col.lg-0 {	width: 0px; height: 0px;  }
	.container .col.lg-1 {	width: 8.33333333%;  height: 100%;  }
	.container .col.lg-2 {	width: 16.6666667%;  height: 100%; }
	.container .col.lg-3 {	width: 25%;  height: 100%; }
	.container .col.lg-4 {	width: 33.3333333%;  height: 100%;  }
	.container .col.lg-5 {	width: 41.6666666%; height: 100%; }
	.container .col.lg-6 {	width: 50%;  height: 100%; }
	.container .col.lg-7 {	width: 58.3333333%; height: 100%; }
	.container .col.lg-8 {	width: 66.6666666%; height: 100%;  }
	.container .col.lg-9 {	width: 75%;  height: 100%; }
	.container .col.lg-10 {	width: 83.3333333%;  height: 100%; }
	.container .col.lg-11 {	width: 91.6666666%;  height: 100%;  }
	.container .col.lg-12 {	width: 100%;  height: 100%;  }


}
/*****************************
		END Media Querys
*****************************/