html .container {
	max-width: 960px;
	margin-left:auto;
	margin-right:auto;
}

#menu ul {
	list-style:none;
	position: absolute;
	top: 0px;
	left:0px;
	width: 100%;
	min-width: 768px;
	height: 15%;
	background: rgb(242,242,242);
	text-align:center;
}

#menu ul li {
	height: 100%;
	width: 150px;
	display: inline-block !important;
}

#menu ul li a {
	color:rgb(34,49,63);
	text-decoration:none;
	font-size: 1.5em;
	border: 0px;
}

#menu ul li a:hover {
	color: #e54c2e;
}

#menu div.nav-link { 
	display:none;
}

#pullMe {
	display:none;
}