html {
	position:relative;
	padding-right: 100%;
}

.container {
	height: 100%;
	width: 100%;
	color: rgb(242,242,242);
}

body {
	font-family: 'Exo 2', sans-serif;
	background: rgb(34,49,63);

}
/*****************************
		Menu Responsive 
*****************************/
#menu{
	height: 100%;
}

div.nav-link {
	background: url('../imagens/icons.png');
	background-position: 0 0;
	position: fixed;
	text-decoration: none;
	top: 1%;
	right: 1%;
	height: 2.5em;
	width: 2.5em;
	padding: 0.5em;
	cursor: pointer;
	z-index: 2;
}

#menu ul {
	list-style:none;
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	background: rgb(34,49,63);
	text-align:center;

	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	-moz-transition: transform 1s;
	-ms-transition: transform 1s;
	-o-transition: transform 1s;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#menu ul.fullMenu {
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

#menu ul li {
	height: 20%;
}

#menu ul li a {
	text-decoration:none;
	font-weight: bold;
	line-height:3em;
	display: block;
	height:100%;
	font-size: 2em;
	color: rgb(242,242,242);
	vertical-align: middle;
	border-bottom: 1px solid rgb(242,242,242);
}

#menu ul li a:hover {
	background:rgb(242,242,242); 
	color:#e54c2e;
}

/**********************************
			Media Querys
***********************************/

@media only screen and (min-width: 768px){
	#menu ul {
		list-style:none;
		position: absolute;
		top: 0px;
		left:0px;
		height: 11%;
		background: rgb(242,242,242);
		text-align:center;

		-moz-transform: translateX(0%) !important;
		-ms-transform: translateX(0%) !important;
		-o-transform: translateX(0%) !important;
		-webkit-transform: translateX(0%) !important;
		transform: translateX(0%) !important;

		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;

	}


	#menu ul li {
		height: 100%;
		width: 15%;
		display: inline-block;
	}

	#menu ul li a {
		color:rgb(34,49,63);
		font-size: 1.5em;
		border: 0px;
	}

	#menu ul li a:hover {
		color: #e54c2e;
	}

	div.nav-link { 
		display:none;
	}


}
