html {
}

.container {
	height: 100%;
	width: 100%;
	color: rgb(242,242,242);
}

body {
	font-family: 'Exo 2', sans-serif;
	background: rgb(34,49,63);
}

/******************************
			Calendário
******************************/

#linhaCalendario {
	height: auto;
}

.fc-unthemed .fc-today {
    background: none repeat scroll 0% 0% #FF4500;
}

.selected {
	background-color:#33FFAE;
}

#fullInformation {
	position:fixed;
	width: 100%;
	height: 0%;
	background-color: #FFF;
	z-index:9;
	opacity: 0;
	overflow:hidden;

	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;

}

#fullInformation.show {
	height:100%;
	opacity: 0.9;
}

#fullInformation table {
	position:relative;
	top: 10%;
	left: 20%;
	width: 60%;
	height: 10%;
	background:rgb(34,49,63);

	border:solid 3px #FFF;
	opacity: 1 !important;
}

#fullInformation table th, #fullInformation table td {
	border: solid 2px #FFF;
	height:2em;
	padding: 0.5em;
	text-align:center;
	font-size: 1em;
	vertical-align: middle;
	color: #FFF;
}

#close {
	position:absolute;
	width:20px;
	height:auto;
	right:-6px;
	top:-10px;
	cursor:pointer;
}


/******************************
		END Calendário
******************************/


/******************************
		Media Querys
******************************/

@media only screen and (min-width: 992px){
	#calendar {
		margin-left: 8.33335%;	
	}

}
