/*********************
	Tipografia
**********************/

h1 {
	font-family: Verdana, Arial;
	font-size: 2em;
	text-align:center;
	margin-top: 1em;
	color: white;
}

p {
	color: #AAAAAA;
	margin: 2%;
	line-height: 1.2em;
}
/*********************
	Design Geral
*********************/
.container {
	height: 100%;
}

#topo {
	height: 15%;
}

#meio {
	height: 70%;
}


#fundo {
	position:absolute;
	bottom:0px;
	height: 15%;
	border: solid 2px black;
}

header {
	background: #FF4500;
	font-size: 0.8em;
}

section#cima {
	background: yellow;
	height: 60%;
}

section#baixo {
	background: blue;
	height: 40%;
}

aside#lateral {
	background: tomato;
	overflow-y: auto;
	overflow-x: none;
	height: 40%;
}


footer#iWannaThatSmaller {
	height: 50%;
	background: brown;
}

/*********************
	Media Query
*********************/
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
	aside#lateral {
		float:none;
		height:100%;
	}
}

/*Small Notebooks*/
@media only screen and (min-width: 993px) and (max-width:1200px) {
	section#cima {
		height: 100%;
	}

	section#baixo {
		height: 100%;
	}

	aside#lateral {
		height: 100%;
	}
}

/*Larger Screens*/
@media only screen and (min-width:1200px) {
	section#cima {
		height: 100%;
	}

	section#baixo {
		height: 100%;
	}

	aside#lateral {
		height: 100%;
	}
}